<section class="section">
    <div class="container">
          
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="Date">Date</abbr></th>
            <th><abbr title="Dis">Distance</abbr></th>
            <th><abbr title="Time">Time</abbr></th>
            <th><abbr title="Pace">Pace</abbr></th>
            <th><abbr title="Fl">Feeling</abbr></th>
            <th><abbr title="Msg">Message</abbr></th>
          </tr>
        </thead>
      
        <tbody>
          <tr>
<<<<<<< HEAD
            <td>{{{date}}}</td>
            <td>{{{distance}}}</td>
            <td>{{{time}}}</td>
            <td>{{{pace}}}</td>
            <td>{{{feeling}}}</td>
            <td>{{{message}}}</td>
=======
            <td>Nov. 2th</td>
            <td>3 miles</td>
            <td>21 min</td>
            <td>7:00/mile</td>
            <td>Great</td>
            <td>Sunny Day. Felt really smooth. Achilles is bothering quite a bit</td>
>>>>>>> 5f697099f9c1d7bbffba01f5a2ec07c42d6941a5
          </tr>
          <tr>
            <td>Nov. 3th</td>
            <td>4 miles</td>
            <td>28 min</td>
            <td>7:00/mile</td>
            <td>Great</td>
            <td>So sore!</td>
          </tr>
          <tr>
            <td>Nov. 4th</td>
            <td>10 miles</td>
            <td>70 min</td>
            <td>7:00/mile</td>
            <td>Great</td>
            <td>It was cold out</td>
          </tr>

        </tbody>
      </table>

    </div>
  </section>>